/* Card Styles */

.card {
  background-color: #1f2937;
  border-radius: 8px;
  border: 1px solid #374151;
}

.card-padding-none {
  padding: 0;
}

.card-padding-small {
  padding: 0.75rem;
}

.card-padding-medium {
  padding: 1rem;
}

.card-padding-large {
  padding: 1.5rem;
}
